interactions:
- request:
    body: '{"UserName": "test", "Password": "test", "CompanyDB": "test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.myfirstech.com:50000/b1s/v1/Login
  response:
    body:
      string: "{\n   \"odata.metadata\" : \"https://api.myfirstech.com:50000/b1s/v1/$metadata#B1Sessions/@Element\",\n
        \  \"SessionId\" : \"e792ca14-9b45-11ec-8000-02e74e0ca33a\",\n   \"Version\"
        : \"1000170\",\n   \"SessionTimeout\" : 30\n}\n"
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      B1S-ReplaceCollectionsOnPatch:
      - 'true'
    method: GET
    uri: https://api.myfirstech.com:50000/b1s/v1/BusinessPartners('RIAN')
  response:
    body:
      string: "{\n   \"odata.metadata\" : \"https://api.myfirstech.com:50000/b1s/v1/$metadata#BusinessPartners/@Element\",\n
        \  \"odata.etag\" : \"W/\\\"BC33EA4E26E5E1AF1408321416956113A4658763\\\"\",\n
        \  \"CardCode\" : \"RIAN\",\n   \"CardName\" : \"Mom's Friendly Robot Company\",\n
        \  \"CardType\" : \"cCustomer\",\n   \"GroupCode\" : 134,\n   \"Address\"
        : \"123 4th ave\",\n   \"ZipCode\" : \"10006\",\n   \"MailAddress\" : \"123
        5th ave\",\n   \"MailZipCode\" : \"10006\",\n   \"Phone1\" : \"987654321\",\n
        \  \"Phone2\" : \"456456456\",\n   \"Fax\" : \"1234\",\n   \"ContactPerson\"
        : \"Mom\",\n   \"Notes\" : \"Notes botes gotes\",\n   \"PayTermsGrpCode\"
        : 8,\n   \"CreditLimit\" : 10000.0,\n   \"MaxCommitment\" : 10000.0,\n   \"DiscountPercent\"
        : null,\n   \"VatLiable\" : \"vLiable\",\n   \"FederalTaxID\" : null,\n   \"DeductibleAtSource\"
        : \"tNO\",\n   \"DeductionPercent\" : 0.0,\n   \"DeductionValidUntil\" : null,\n
        \  \"PriceListNum\" : 2,\n   \"IntrestRatePercent\" : 0.0,\n   \"CommissionPercent\"
        : 0.0,\n   \"CommissionGroupCode\" : 0,\n   \"FreeText\" : \"These are some
        good notes about this business partner.\",\n   \"SalesPersonCode\" : 21,\n
        \  \"Currency\" : \"$\",\n   \"RateDiffAccount\" : \"\",\n   \"Cellular\"
        : \"12345\",\n   \"AvarageLate\" : null,\n   \"City\" : \"New York City\",\n
        \  \"County\" : null,\n   \"Country\" : \"US\",\n   \"MailCity\" : \"New York
        City\",\n   \"MailCounty\" : null,\n   \"MailCountry\" : \"US\",\n   \"EmailAddress\"
        : null,\n   \"Picture\" : null,\n   \"DefaultAccount\" : null,\n   \"DefaultBranch\"
        : null,\n   \"DefaultBankCode\" : \"-1\",\n   \"AdditionalID\" : null,\n   \"Pager\"
        : null,\n   \"FatherCard\" : null,\n   \"CardForeignName\" : null,\n   \"FatherType\"
        : \"cPayments_sum\",\n   \"DeductionOffice\" : null,\n   \"ExportCode\" :
        null,\n   \"MinIntrest\" : 0.0,\n   \"CurrentAccountBalance\" : 0.0,\n   \"OpenDeliveryNotesBalance\"
        : 2004.380,\n   \"OpenOrdersBalance\" : 34653.760,\n   \"OpenChecksBalance\"
        : 0.0,\n   \"VatGroup\" : null,\n   \"ShippingType\" : 3,\n   \"Password\"
        : null,\n   \"Indicator\" : null,\n   \"IBAN\" : null,\n   \"CreditCardCode\"
        : 1,\n   \"CreditCardNum\" : \"**********0027\",\n   \"CreditCardExpiration\"
        : \"2022-01-31\",\n   \"DebitorAccount\" : \"_SYS00000000067\",\n   \"OpenOpportunities\"
        : null,\n   \"Valid\" : \"tYES\",\n   \"ValidFrom\" : null,\n   \"ValidTo\"
        : null,\n   \"ValidRemarks\" : null,\n   \"Frozen\" : \"tNO\",\n   \"FrozenFrom\"
        : null,\n   \"FrozenTo\" : null,\n   \"FrozenRemarks\" : null,\n   \"Block\"
        : null,\n   \"BillToState\" : \"NY\",\n   \"ShipToState\" : \"NY\",\n   \"ExemptNum\"
        : null,\n   \"Priority\" : -1,\n   \"FormCode1099\" : null,\n   \"Box1099\"
        : null,\n   \"PeymentMethodCode\" : null,\n   \"BackOrder\" : \"tYES\",\n
        \  \"PartialDelivery\" : \"tYES\",\n   \"BlockDunning\" : \"tNO\",\n   \"BankCountry\"
        : null,\n   \"HouseBank\" : \"KEY\",\n   \"HouseBankCountry\" : \"US\",\n
        \  \"HouseBankAccount\" : \"4479683033829\",\n   \"ShipToDefault\" : \"Mom
        Corp\",\n   \"DunningLevel\" : null,\n   \"DunningDate\" : null,\n   \"CollectionAuthorization\"
        : \"tNO\",\n   \"DME\" : null,\n   \"InstructionKey\" : null,\n   \"SinglePayment\"
        : \"tNO\",\n   \"ISRBillerID\" : null,\n   \"PaymentBlock\" : \"tNO\",\n   \"ReferenceDetails\"
        : null,\n   \"HouseBankBranch\" : \"Seattle\",\n   \"OwnerIDNumber\" : null,\n
        \  \"PaymentBlockDescription\" : -1,\n   \"TaxExemptionLetterNum\" : null,\n
        \  \"MaxAmountOfExemption\" : 0.0,\n   \"ExemptionValidityDateFrom\" : null,\n
        \  \"ExemptionValidityDateTo\" : null,\n   \"LinkedBusinessPartner\" : \"12
        Volt\",\n   \"LastMultiReconciliationNum\" : null,\n   \"DeferredTax\" : \"tNO\",\n
        \  \"Equalization\" : \"tNO\",\n   \"SubjectToWithholdingTax\" : null,\n   \"CertificateNumber\"
        : null,\n   \"ExpirationDate\" : null,\n   \"NationalInsuranceNum\" : null,\n
        \  \"AccrualCriteria\" : \"tNO\",\n   \"WTCode\" : null,\n   \"BillToBuildingFloorRoom\"
        : \"\",\n   \"DownPaymentClearAct\" : \"_SYS00000000118\",\n   \"ChannelBP\"
        : null,\n   \"DefaultTechnician\" : null,\n   \"BilltoDefault\" : \"Mom Corp\",\n
        \  \"CustomerBillofExchangDisc\" : null,\n   \"Territory\" : null,\n   \"ShipToBuildingFloorRoom\"
        : \"\",\n   \"CustomerBillofExchangPres\" : null,\n   \"ProjectCode\" : null,\n
        \  \"VatGroupLatinAmerica\" : null,\n   \"DunningTerm\" : null,\n   \"Website\"
        : \"ilovebender.com\",\n   \"OtherReceivablePayable\" : null,\n   \"BillofExchangeonCollection\"
        : null,\n   \"CompanyPrivate\" : \"cCompany\",\n   \"LanguageCode\" : 3,\n
        \  \"UnpaidBillofExchange\" : null,\n   \"WithholdingTaxDeductionGroup\" :
        -1,\n   \"ClosingDateProcedureNumber\" : null,\n   \"Profession\" : null,\n
        \  \"BankChargesAllocationCode\" : null,\n   \"TaxRoundingRule\" : \"trr_CompanyDefault\",\n
        \  \"Properties1\" : \"tYES\",\n   \"Properties2\" : \"tYES\",\n   \"Properties3\"
        : \"tYES\",\n   \"Properties4\" : \"tYES\",\n   \"Properties5\" : \"tYES\",\n
        \  \"Properties6\" : \"tYES\",\n   \"Properties7\" : \"tYES\",\n   \"Properties8\"
        : \"tYES\",\n   \"Properties9\" : \"tYES\",\n   \"Properties10\" : \"tYES\",\n
        \  \"Properties11\" : \"tYES\",\n   \"Properties12\" : \"tYES\",\n   \"Properties13\"
        : \"tYES\",\n   \"Properties14\" : \"tYES\",\n   \"Properties15\" : \"tYES\",\n
        \  \"Properties16\" : \"tYES\",\n   \"Properties17\" : \"tYES\",\n   \"Properties18\"
        : \"tYES\",\n   \"Properties19\" : \"tYES\",\n   \"Properties20\" : \"tYES\",\n
        \  \"Properties21\" : \"tYES\",\n   \"Properties22\" : \"tYES\",\n   \"Properties23\"
        : \"tYES\",\n   \"Properties24\" : \"tYES\",\n   \"Properties25\" : \"tYES\",\n
        \  \"Properties26\" : \"tYES\",\n   \"Properties27\" : \"tYES\",\n   \"Properties28\"
        : \"tYES\",\n   \"Properties29\" : \"tYES\",\n   \"Properties30\" : \"tYES\",\n
        \  \"Properties31\" : \"tYES\",\n   \"Properties32\" : \"tYES\",\n   \"Properties33\"
        : \"tYES\",\n   \"Properties34\" : \"tYES\",\n   \"Properties35\" : \"tYES\",\n
        \  \"Properties36\" : \"tYES\",\n   \"Properties37\" : \"tYES\",\n   \"Properties38\"
        : \"tYES\",\n   \"Properties39\" : \"tYES\",\n   \"Properties40\" : \"tYES\",\n
        \  \"Properties41\" : \"tYES\",\n   \"Properties42\" : \"tYES\",\n   \"Properties43\"
        : \"tYES\",\n   \"Properties44\" : \"tYES\",\n   \"Properties45\" : \"tYES\",\n
        \  \"Properties46\" : \"tYES\",\n   \"Properties47\" : \"tYES\",\n   \"Properties48\"
        : \"tYES\",\n   \"Properties49\" : \"tYES\",\n   \"Properties50\" : \"tYES\",\n
        \  \"Properties51\" : \"tYES\",\n   \"Properties52\" : \"tYES\",\n   \"Properties53\"
        : \"tYES\",\n   \"Properties54\" : \"tYES\",\n   \"Properties55\" : \"tYES\",\n
        \  \"Properties56\" : \"tYES\",\n   \"Properties57\" : \"tYES\",\n   \"Properties58\"
        : \"tYES\",\n   \"Properties59\" : \"tYES\",\n   \"Properties60\" : \"tYES\",\n
        \  \"Properties61\" : \"tYES\",\n   \"Properties62\" : \"tYES\",\n   \"Properties63\"
        : \"tYES\",\n   \"Properties64\" : \"tYES\",\n   \"CompanyRegistrationNumber\"
        : null,\n   \"VerificationNumber\" : null,\n   \"DiscountBaseObject\" : \"dgboNone\",\n
        \  \"DiscountRelations\" : \"dgrLowestDiscount\",\n   \"TypeReport\" : \"atCompany\",\n
        \  \"ThresholdOverlook\" : \"tNO\",\n   \"SurchargeOverlook\" : \"tNO\",\n
        \  \"DownPaymentInterimAccount\" : null,\n   \"OperationCode347\" : \"ocSalesOrServicesRevenues\",\n
        \  \"InsuranceOperation347\" : \"tNO\",\n   \"HierarchicalDeduction\" : \"tNO\",\n
        \  \"ShaamGroup\" : \"sgServicesAndAsset\",\n   \"WithholdingTaxCertified\"
        : \"tNO\",\n   \"BookkeepingCertified\" : \"tNO\",\n   \"PlanningGroup\" :
        null,\n   \"Affiliate\" : \"tNO\",\n   \"Industry\" : null,\n   \"VatIDNum\"
        : null,\n   \"DatevAccount\" : null,\n   \"DatevFirstDataEntry\" : \"tYES\",\n
        \  \"UseShippedGoodsAccount\" : \"tNO\",\n   \"GTSRegNo\" : null,\n   \"GTSBankAccountNo\"
        : null,\n   \"GTSBillingAddrTel\" : null,\n   \"ETaxWebSite\" : null,\n   \"HouseBankIBAN\"
        : \"\",\n   \"VATRegistrationNumber\" : null,\n   \"RepresentativeName\" :
        null,\n   \"IndustryType\" : null,\n   \"BusinessType\" : null,\n   \"Series\"
        : 1,\n   \"AutomaticPosting\" : null,\n   \"InterestAccount\" : null,\n   \"FeeAccount\"
        : null,\n   \"CampaignNumber\" : null,\n   \"AliasName\" : null,\n   \"DefaultBlanketAgreementNumber\"
        : null,\n   \"EffectiveDiscount\" : \"dgrLowestDiscount\",\n   \"NoDiscounts\"
        : \"tNO\",\n   \"EffectivePrice\" : \"epDefaultPriority\",\n   \"EffectivePriceConsidersPriceBeforeDiscount\"
        : \"tNO\",\n   \"GlobalLocationNumber\" : null,\n   \"EDISenderID\" : null,\n
        \  \"EDIRecipientID\" : null,\n   \"ResidenNumber\" : \"rntSpanishFiscalID\",\n
        \  \"RelationshipCode\" : null,\n   \"RelationshipDateFrom\" : null,\n   \"RelationshipDateTill\"
        : null,\n   \"UnifiedFederalTaxID\" : null,\n   \"AttachmentEntry\" : null,\n
        \  \"TypeOfOperation\" : null,\n   \"EndorsableChecksFromBP\" : \"tYES\",\n
        \  \"AcceptsEndorsedChecks\" : \"tNO\",\n   \"OwnerCode\" : null,\n   \"BlockSendingMarketingContent\"
        : \"tNO\",\n   \"AgentCode\" : null,\n   \"PriceMode\" : null,\n   \"EDocGenerationType\"
        : null,\n   \"EDocStreet\" : null,\n   \"EDocStreetNumber\" : null,\n   \"EDocBuildingNumber\"
        : null,\n   \"EDocZipCode\" : null,\n   \"EDocCity\" : null,\n   \"EDocCountry\"
        : null,\n   \"EDocDistrict\" : null,\n   \"EDocRepresentativeFirstName\" :
        null,\n   \"EDocRepresentativeSurname\" : null,\n   \"EDocRepresentativeCompany\"
        : null,\n   \"EDocRepresentativeFiscalCode\" : null,\n   \"EDocRepresentativeAdditionalId\"
        : null,\n   \"EDocPECAddress\" : null,\n   \"IPACodeForPA\" : null,\n   \"UpdateDate\"
        : \"2022-03-03\",\n   \"UpdateTime\" : \"11:00:58\",\n   \"ExemptionMaxAmountValidationType\"
        : \"emaIndividual\",\n   \"ECommerceMerchantID\" : null,\n   \"UseBillToAddrToDetermineTax\"
        : \"tNO\",\n   \"CreateDate\" : \"2021-05-13\",\n   \"CreateTime\" : \"13:44:34\",\n
        \  \"DefaultTransporterEntry\" : null,\n   \"DefaultTransporterLineNumber\"
        : null,\n   \"FCERelevant\" : \"tNO\",\n   \"FCEValidateBaseDelivery\" : \"tNO\",\n
        \  \"MainUsage\" : null,\n   \"EBooksVATExemptionCause\" : null,\n   \"LegalText\"
        : null,\n   \"DataVersion\" : 27,\n   \"ExchangeRateForIncomingPayment\" :
        \"tYES\",\n   \"ExchangeRateForOutgoingPayment\" : \"tYES\",\n   \"CertificateDetails\"
        : null,\n   \"DefaultCurrency\" : null,\n   \"EORINumber\" : null,\n   \"FCEAsPaymentMeans\"
        : \"tNO\",\n   \"U_V33_PTACCTNUM\" : null,\n   \"U_Territory\" : \"T1\",\n
        \  \"U_PriceLevel\" : null,\n   \"U_SalesManager\" : \"Jason\",\n   \"U_SalesSupport\"
        : \"Rob\",\n   \"U_BBUPS\" : null,\n   \"U_AddNotes\" : null,\n   \"U_VIR\"
        : \"YES\",\n   \"U_Pro\" : null,\n   \"U_SpecPricing\" : null,\n   \"U_V33_SYNCB2B\"
        : \"YES\",\n   \"U_V33_PRODLR\" : \"NO\",\n   \"U_V33_COMPUSTAR\" : \"YES\",\n
        \  \"U_V33_ARCSTART\" : \"YES\",\n   \"U_V33_FTX\" : \"YES\",\n   \"U_FT_Per_Guarantee\"
        : null,\n   \"U_FT_Agr_Update_Date\" : null,\n   \"U_FT_Reseller_Permit\"
        : null,\n   \"U_FT_Fall_VIR_Partic\" : \"NO\",\n   \"U_AP_Contact\" : null,\n
        \  \"U_AP_Email\" : null,\n   \"U_AP_Phone\" : null,\n   \"U_AP_Notes\" :
        null,\n   \"U_FT_DFI_PRICING\" : \"YES\",\n   \"U_BOY_23_QCCS\" : null,\n
        \  \"U_BOY_23_ADPRTCD\" : null,\n   \"U_BOY_TB_0\" : \"N\",\n   \"U_Warranty\"
        : \"EXCHANGE\",\n   \"U_MAP_Policy_Date\" : null,\n   \"ElectronicProtocols\"
        : [],\n   \"BPAddresses\" : [\n      {\n         \"AddressName\" : \"Planet
        Express\",\n         \"Street\" : \"5432 New Street\",\n         \"Block\"
        : null,\n         \"ZipCode\" : \"1234\",\n         \"City\" : \"New New York\",\n
        \        \"County\" : null,\n         \"Country\" : \"CA\",\n         \"State\"
        : \"\",\n         \"FederalTaxID\" : null,\n         \"TaxCode\" : null,\n
        \        \"BuildingFloorRoom\" : \"\",\n         \"AddressType\" : \"bo_ShipTo\",\n
        \        \"AddressName2\" : null,\n         \"AddressName3\" : null,\n         \"TypeOfAddress\"
        : null,\n         \"StreetNo\" : null,\n         \"BPCode\" : \"RIAN\",\n
        \        \"RowNum\" : 2,\n         \"GlobalLocationNumber\" : null,\n         \"Nationality\"
        : null,\n         \"TaxOffice\" : null,\n         \"GSTIN\" : null,\n         \"GstType\"
        : null,\n         \"CreateDate\" : \"2021-06-04\",\n         \"CreateTime\"
        : \"13:51:19\",\n         \"MYFType\" : null,\n         \"TaasEnabled\" :
        \"tYES\"\n      },\n      {\n         \"AddressName\" : \"Mom Corp\",\n         \"Street\"
        : \"123 5th ave\",\n         \"Block\" : null,\n         \"ZipCode\" : \"10006\",\n
        \        \"City\" : \"New York City\",\n         \"County\" : null,\n         \"Country\"
        : \"US\",\n         \"State\" : \"NY\",\n         \"FederalTaxID\" : null,\n
        \        \"TaxCode\" : null,\n         \"BuildingFloorRoom\" : null,\n         \"AddressType\"
        : \"bo_ShipTo\[...]
- request:
    body: null
    headers:
      B1S-ReplaceCollectionsOnPatch:
      - 'true'
    method: GET
    uri: https://api.myfirstech.com:50000/b1s/v1/PaymentTermsTypes(8)
  response:
    body:
      string: "{\n   \"odata.metadata\" : \"https://api.myfirstech.com:50000/b1s/v1/$metadata#PaymentTermsTypes/@Element\",\n
        \  \"GroupNumber\" : 8,\n   \"PaymentTermsGroupName\" : \"1% 45 Net 60 Days\",\n
        \  \"StartFrom\" : \"pdt_None\",\n   \"NumberOfAdditionalMonths\" : 0,\n   \"NumberOfAdditionalDays\"
        : 60,\n   \"CreditLimit\" : 0.0,\n   \"GeneralDiscount\" : 0.0,\n   \"InterestOnArrears\"
        : 0.0,\n   \"PriceListNo\" : 2,\n   \"LoadLimit\" : 0.0,\n   \"OpenReceipt\"
        : \"oip_No\",\n   \"DiscountCode\" : \"1 per 45 Days\",\n   \"DunningCode\"
        : \"\",\n   \"BaselineDate\" : \"bld_TaxDate\",\n   \"NumberOfInstallments\"
        : 0,\n   \"NumberOfToleranceDays\" : null\n}\n"
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;charset=utf-8
      DataServiceVersion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      B1S-ReplaceCollectionsOnPatch:
      - 'true'
    method: GET
    uri: https://api.myfirstech.com:50000/b1s/v1/PriceLists?$skip=0
  response:
    body:
      string: "{\n   \"odata.metadata\" : \"https://api.myfirstech.com:50000/b1s/v1/$metadata#PriceLists\",\n
        \  \"value\" : [\n      {\n         \"RoundingMethod\" : \"borm_NoRounding\",\n
        \        \"GroupNum\" : \"boplgn_Group2\",\n         \"BasePriceList\" : 1,\n
        \        \"Factor\" : 1.0,\n         \"PriceListNo\" : 1,\n         \"PriceListName\"
        : \"MSRP\",\n         \"IsGrossPrice\" : \"tNO\",\n         \"Active\" : \"tYES\",\n
        \        \"ValidFrom\" : null,\n         \"ValidTo\" : null,\n         \"DefaultPrimeCurrency\"
        : \"$\",\n         \"DefaultAdditionalCurrency1\" : \"$\",\n         \"DefaultAdditionalCurrency2\"
        : \"$\",\n         \"RoundingRule\" : \"borrRoundOff\",\n         \"FixedAmount\"
        : 0.0\n      },\n      {\n         \"RoundingMethod\" : \"borm_NoRounding\",\n
        \        \"GroupNum\" : \"boplgn_Group2\",\n         \"BasePriceList\" : 2,\n
        \        \"Factor\" : 1.0,\n         \"PriceListNo\" : 2,\n         \"PriceListName\"
        : \"Dealer\",\n         \"IsGrossPrice\" : \"tNO\",\n         \"Active\" :
        \"tYES\",\n         \"ValidFrom\" : null,\n         \"ValidTo\" : null,\n
        \        \"DefaultPrimeCurrency\" : \"$\",\n         \"DefaultAdditio[...]
[...]
- request:
    body: null
    headers:
      B1S-ReplaceCollectionsOnPatch:
      - 'true'
    method: GET
    uri: https://api.myfirstech.com:50000/b1s/v1/SalesPersons(21)
  response:
    body:
      string: "{\n   \"odata.metadata\" : \"https://api.myfirstech.com:50000/b1s/v1/$metadata#SalesPersons/@Element\",\n
        \  \"SalesEmployeeCode\" : 21,\n   \"SalesEmployeeName\" : \"Paradise Marketing\",\n
        \  \"Remarks\" : \"\",\n   \"CommissionForSalesEmployee\" : 0.0,\n   \"CommissionGroup\"
        : 0,\n   \"Locked\" : \"tNO\",\n   \"EmployeeID\" : null,\n   \"Active\" :
        \"tYES\",\n   \"Telephone\" : null,\n   \"Mobile\" : null,\n   \"Fax\" : null,\n
        \  \"Email\" : \"outside_sales_person@example.com\",\n   \"U_BOY_50_BRKO\" : null\n}\n"
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;charset=utf-8
      DataServiceVersion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      B1S-ReplaceCollectionsOnPatch:
      - 'true'
    method: GET
    uri: https://api.myfirstech.com:50000/b1s/v1/Orders(179667)
  response:
    body:
      string: "{\n   \"odata.metadata\" : \"https://api.myfirstech.com:50000/b1s/v1/$metadata#Orders/@Element\",\n
        \  \"odata.etag\" : \"W/\\\"BD307A3EC329E10A2CFF8FB87480823DA114F8F4\\\"\",\n
        \  \"DocEntry\" : 179667,\n   \"DocNum\" : 179667,\n   \"DocType\" : \"dDocument_Items\",\n
        \  \"HandWritten\" : \"tNO\",\n   \"Printed\" : \"psNo\",\n   \"DocDate\"
        : \"2022-02-16\",\n   \"DocDueDate\" : \"2022-02-18\",\n   \"CardCode\" :
        \"RIAN\",\n   \"CardName\" : \"Mom's Friendly Robot Company\",\n   \"Address\"
        : \"123 4th ave\\r\\rNew York City NY  10006\\rUSA\",\n   \"NumAtCard\" :
        \"PO21622\",\n   \"DocTotal\" : 360.0,\n   \"AttachmentEntry\" : null,\n   \"DocCurrency\"
        : \"$\",\n   \"DocRate\" : 1.0,\n   \"Reference1\" : \"179667\",\n   \"Reference2\"
        : null,\n   \"Comments\" : \"These are some notes\",\n   \"JournalMemo\" :
        \"Sales Orders - RIAN\",\n   \"PaymentGroupCode\" : 8,\n   \"DocTime\" : \"09:12:00\",\n
        \  \"SalesPersonCode\" : 21,\n   \"TransportationCode\" : 19,\n   \"Confirmed\"
        : \"tYES\",\n   \"ImportFileNum\" : null,\n   \"SummeryType\" : \"dNoSummary\",\n
        \  \"ContactPersonCode\" : 12697,\n   \"ShowSCN\" : \"tNO\",\n   \"Series\"
        : 8,\n   \"TaxDate\" : \"2022-02-16\",\n   \"PartialSupply\" : \"tYES\",\n
        \  \"DocObjectCode\" : \"oOrders\",\n   \"ShipToCode\" : \"Mom Corp\",\n   \"Indicator\"
        : null,\n   \"FederalTaxID\" : null,\n   \"DiscountPercent\" : 0.0,\n   \"PaymentReference\"
        : null,\n   \"CreationDate\" : \"2022-02-16\",\n   \"UpdateDate\" : \"2022-03-03\",\n
        \  \"FinancialPeriod\" : 86,\n   \"UserSign\" : 73,\n   \"TransNum\" : null,\n
        \  \"VatSum\" : 0.0,\n   \"VatSumSys\" : 0.0,\n   \"VatSumFc\" : 0.0,\n   \"NetProcedure\"
        : \"tNO\",\n   \"DocTotalFc\" : 0.0,\n   \"DocTotalSys\" : 360.0,\n   \"Form1099\"
        : null,\n   \"Box1099\" : null,\n   \"RevisionPo\" : \"tNO\",\n   \"RequriedDate\"
        : \"2022-02-18\",\n   \"CancelDate\" : \"2022-08-17\",\n   \"BlockDunning\"
        : \"tNO\",\n   \"Submitted\" : \"tNO\",\n   \"Segment\" : 0,\n   \"PickStatus\"
        : \"tNO\",\n   \"Pick\" : \"tYES\",\n   \"PaymentMethod\" : \"\",\n   \"PaymentBlock\"
        : \"tNO\",\n   \"PaymentBlockEntry\" : null,\n   \"CentralBankIndicator\"
        : null,\n   \"MaximumCashDiscount\" : \"tNO\",\n   \"Reserve\" : \"tNO\",\n
        \  \"Project\" : null,\n   \"ExemptionValidityDateFrom\" : null,\n   \"ExemptionValidityDateTo\"
        : null,\n   \"WareHouseUpdateType\" : \"dwh_CustomerOrders\",\n   \"Rounding\"
        : \"tNO\",\n   \"ExternalCorrectedDocNum\" : null,\n   \"InternalCorrectedDocNum\"
        : null,\n   \"NextCorrectingDocument\" : null,\n   \"DeferredTax\" : \"tNO\",\n
        \  \"TaxExemptionLetterNum\" : null,\n   \"WTApplied\" : 0.0,\n   \"WTAppliedFC\"
        : 0.0,\n   \"BillOfExchangeReserved\" : \"tNO\",\n   \"AgentCode\" : null,\n
        \  \"WTAppliedSC\" : 0.0,\n   \"TotalEqualizationTax\" : 0.0,\n   \"TotalEqualizationTaxFC\"
        : 0.0,\n   \"TotalEqualizationTaxSC\" : 0.0,\n   \"NumberOfInstallments\"
        : 1,\n   \"ApplyTaxOnFirstInstallment\" : \"tNO\",\n   \"WTNonSubjectAmount\"
        : 0.0,\n   \"WTNonSubjectAmountSC\" : 0.0,\n   \"WTNonSubjectAmountFC\" :
        0.0,\n   \"WTExemptedAmount\" : 0.0,\n   \"WTExemptedAmountSC\" : 0.0,\n   \"WTExemptedAmountFC\"
        : 0.0,\n   \"BaseAmount\" : 0.0,\n   \"BaseAmountSC\" : 0.0,\n   \"BaseAmountFC\"
        : 0.0,\n   \"WTAmount\" : 0.0,\n   \"WTAmountSC\" : 0.0,\n   \"WTAmountFC\"
        : 0.0,\n   \"VatDate\" : null,\n   \"DocumentsOwner\" : null,\n   \"FolioPrefixString\"
        : null,\n   \"FolioNumber\" : null,\n   \"DocumentSubType\" : \"bod_None\",\n
        \  \"BPChannelCode\" : null,\n   \"BPChannelContact\" : null,\n   \"Address2\"
        : \"123 5th ave\\r\\rNew York City NY  10006\\rUSA\",\n   \"DocumentStatus\"
        : \"bost_Open\",\n   \"PeriodIndicator\" : \"Default\",\n   \"PayToCode\"
        : \"Mom Corp\",\n   \"ManualNumber\" : null,\n   \"UseShpdGoodsAct\" : \"tNO\",\n
        \  \"IsPayToBank\" : \"tNO\",\n   \"PayToBankCountry\" : null,\n   \"PayToBankCode\"
        : null,\n   \"PayToBankAccountNo\" : null,\n   \"PayToBankBranch\" : null,\n
        \  \"BPL_IDAssignedToInvoice\" : null,\n   \"DownPayment\" : 0.0,\n   \"ReserveInvoice\"
        : \"tNO\",\n   \"LanguageCode\" : 3,\n   \"TrackingNumber\" : null,\n   \"PickRemark\"
        : null,\n   \"ClosingDate\" : null,\n   \"SequenceCode\" : null,\n   \"SequenceSerial\"
        : null,\n   \"SeriesString\" : null,\n   \"SubSeriesString\" : null,\n   \"SequenceModel\"
        : \"0\",\n   \"UseCorrectionVATGroup\" : \"tNO\",\n   \"TotalDiscount\" :
        0.0,\n   \"DownPaymentAmount\" : 0.0,\n   \"DownPaymentPercentage\" : 0.0,\n
        \  \"DownPaymentType\" : \"dptInvoice\",\n   \"DownPaymentAmountSC\" : 0.0,\n
        \  \"DownPaymentAmountFC\" : 0.0,\n   \"VatPercent\" : 0.0,\n   \"ServiceGrossProfitPercent\"
        : null,\n   \"OpeningRemarks\" : null,\n   \"ClosingRemarks\" : null,\n   \"RoundingDiffAmount\"
        : 0.0,\n   \"RoundingDiffAmountFC\" : 0.0,\n   \"RoundingDiffAmountSC\" :
        0.0,\n   \"Cancelled\" : \"tNO\",\n   \"SignatureInputMessage\" : null,\n
        \  \"SignatureDigest\" : null,\n   \"CertificationNumber\" : null,\n   \"PrivateKeyVersion\"
        : null,\n   \"ControlAccount\" : \"_SYS00000000067\",\n   \"InsuranceOperation347\"
        : \"tNO\",\n   \"ArchiveNonremovableSalesQuotation\" : \"tNO\",\n   \"GTSChecker\"
        : null,\n   \"GTSPayee\" : null,\n   \"ExtraMonth\" : 0,\n   \"ExtraDays\"
        : 60,\n   \"CashDiscountDateOffset\" : 0,\n   \"StartFrom\" : \"pdt_None\",\n
        \  \"NTSApproved\" : \"tNO\",\n   \"ETaxWebSite\" : null,\n   \"ETaxNumber\"
        : null,\n   \"NTSApprovedNumber\" : null,\n   \"EDocGenerationType\" : \"edocNotRelevant\",\n
        \  \"EDocSeries\" : null,\n   \"EDocNum\" : null,\n   \"EDocExportFormat\"
        : null,\n   \"EDocStatus\" : \"edoc_Ok\",\n   \"EDocErrorCode\" : null,\n
        \  \"EDocErrorMessage\" : null,\n   \"DownPaymentStatus\" : \"so_Open\",\n
        \  \"GroupSeries\" : null,\n   \"GroupNumber\" : null,\n   \"GroupHandWritten\"
        : \"tNO\",\n   \"ReopenOriginalDocument\" : null,\n   \"ReopenManuallyClosedOrCanceledDocument\"
        : null,\n   \"CreateOnlineQuotation\" : \"tNO\",\n   \"POSEquipmentNumber\"
        : null,\n   \"POSManufacturerSerialNumber\" : null,\n   \"POSCashierNumber\"
        : null,\n   \"ApplyCurrentVATRatesForDownPaymentsToDraw\" : \"tNO\",\n   \"ClosingOption\"
        : \"coByCurrentSystemDate\",\n   \"SpecifiedClosingDate\" : null,\n   \"OpenForLandedCosts\"
        : \"tYES\",\n   \"AuthorizationStatus\" : \"dasWithout\",\n   \"TotalDiscountFC\"
        : 0.0,\n   \"TotalDiscountSC\" : 0.0,\n   \"RelevantToGTS\" : \"tNO\",\n   \"BPLName\"
        : null,\n   \"VATRegNum\" : null,\n   \"AnnualInvoiceDeclarationReference\"
        : null,\n   \"Supplier\" : null,\n   \"Releaser\" : null,\n   \"Receiver\"
        : null,\n   \"BlanketAgreementNumber\" : null,\n   \"IsAlteration\" : \"tNO\",\n
        \  \"CancelStatus\" : \"csNo\",\n   \"AssetValueDate\" : null,\n   \"DocumentDelivery\"
        : \"ddtNoneSeleted\",\n   \"AuthorizationCode\" : null,\n   \"StartDeliveryDate\"
        : null,\n   \"StartDeliveryTime\" : null,\n   \"EndDeliveryDate\" : null,\n
        \  \"EndDeliveryTime\" : null,\n   \"VehiclePlate\" : null,\n   \"ATDocumentType\"
        : null,\n   \"ElecCommStatus\" : null,\n   \"ElecCommMessage\" : null,\n   \"ReuseDocumentNum\"
        : \"tNO\",\n   \"ReuseNotaFiscalNum\" : \"tNO\",\n   \"PrintSEPADirect\" :
        \"tNO\",\n   \"FiscalDocNum\" : null,\n   \"POSDailySummaryNo\" : null,\n
        \  \"POSReceiptNo\" : null,\n   \"PointOfIssueCode\" : null,\n   \"Letter\"
        : null,\n   \"FolioNumberFrom\" : null,\n   \"FolioNumberTo\" : null,\n   \"InterimType\"
        : \"boidt_None\",\n   \"RelatedType\" : -1,\n   \"RelatedEntry\" : null,\n
        \  \"SAPPassport\" : null,\n   \"DocumentTaxID\" : null,\n   \"DateOfReportingControlStatementVAT\"
        : null,\n   \"ReportingSectionControlStatementVAT\" : null,\n   \"ExcludeFromTaxReportControlStatementVAT\"
        : \"tNO\",\n   \"POS_CashRegister\" : null,\n   \"UpdateTime\" : \"14:45:48\",\n
        \  \"CreateQRCodeFrom\" : null,\n   \"PriceMode\" : null,\n   \"ShipFrom\"
        : \"Mom Corp\",\n   \"CommissionTrade\" : \"ct_Empty\",\n   \"CommissionTradeReturn\"
        : \"tNO\",\n   \"UseBillToAddrToDetermineTax\" : \"tNO\",\n   \"Cig\" : null,\n
        \  \"Cup\" : null,\n   \"FatherCard\" : null,\n   \"FatherType\" : \"cPayments_sum\",\n
        \  \"ShipState\" : null,\n   \"ShipPlace\" : null,\n   \"CustOffice\" : null,\n
        \  \"FCI\" : null,\n   \"AddLegIn\" : null,\n   \"LegTextF\" : null,\n   \"DANFELgTxt\"
        : null,\n   \"IndFinal\" : \"tNO\",\n   \"DataVersion\" : 13,\n   \"U_A_PAYT\"
        : null,\n   \"U_A_CCEV\" : null,\n   \"U_A_CCUID\" : null,\n   \"U_TWBS_CC_OrigInv\"
        : null,\n   \"U_OrderSource\" : null,\n   \"U_ZEDS_TransactionId\" : null,\n
        \  \"U_ZEDS_EmpComments\" : null,\n   \"U_ZEDS_ManComments\" : null,\n   \"U_TRC_ASNT\"
        : \"SOI\",\n   \"U_TRC_STTp\" : null,\n   \"U_TRC_OPTp\" : null,\n   \"U_TRC_TrMt\"
        : null,\n   \"U_TRC_VdrN\" : null,\n   \"U_TRC_BOL\" : null,\n   \"U_TRC_WGHT\"
        : null,\n   \"U_TRC_DpNm\" : null,\n   \"U_TRC_RlNm\" : null,\n   \"U_TRC_CrPr\"
        : null,\n   \"U_TRC_Rtng\" : null,\n   \"U_TRC_SCAC\" : null,\n   \"U_TRC_OrdW\"
        : null,\n   \"U_TRC_GWGU\" : null,\n   \"U_TRC_CrTr\" : null,\n   \"U_TRC_TrIn\"
        : null,\n   \"U_TRC_Stat\" : null,\n   \"U_TRC_EDDt\" : null,\n   \"U_TRC_TmSh\"
        : null,\n   \"U_TRC_PONm\" : null,\n   \"U_TRC_PkMt\" : null,\n   \"U_TRC_PkTy\"
        : null,\n   \"U_TRC_PrGp\" : null,\n   \"U_TRC_StAb\" : null,\n   \"U_TRC_ConsSt\"
        : null,\n   \"U_TRC_Temp\" : null,\n   \"U_TRC_APkTp\" : \"Pure Carton\",\n
        \  \"U_TRC_PackR\" : \"Y\",\n   \"U_RA_Numbr\" : null,\n   \"U_UPSAcct\" :
        null,\n   \"U_CTY_Territory\" : null,\n   \"U_ECS_DOC_FREIGHT\" : \"0.00\",\n
        \  \"U_V33SALESMGR\" : null,\n   \"U_V33INSIDESALES\" : null,\n   \"U_ZipCode\"
        : null,\n   \"U_TRC_3PL\" : null,\n   \"U_TRC_PODt\" : null,\n   \"U_TRC_NOEDI\"
        : \"N\",\n   \"U_V33_FreeShipping\" : \"N\",\n   \"U_Saturday_Red\" : null,\n
        \  \"U_Signature_Req\" : null,\n   \"U_MageOrderIncId\" : null,\n   \"U_MageEmail\"
        : null,\n   \"U_NWR_PicS\" : \"Nouveau/New\",\n   \"U_NWR_BRet\" : null,\n
        \  \"U_nwr_PAut\" : 0,\n   \"U_nwr_Note\" : null,\n   \"U_nwr_Tag\" : null,\n
        \  \"U_nwr_Frgt\" : 0.0,\n   \"U_NWR_NORM\" : null,\n   \"U_TypeExped\" :
        \"2\",\n   \"U_NWR_Freight\" : 0.0,\n   \"U_TRC_DocLookupID\" : null,\n   \"U_TRC_CusOrNum\"
        : null,\n   \"U_TRC_OMSPONum\" : null,\n   \"U_TRC_OrdName\" : null,\n   \"U_ADDTNOTES\"
        : null,\n   \"U_NWR_Manifest\" : null,\n   \"Document_ApprovalRequests\" :
        [],\n   \"DocumentLines\" : [\n      {\n         \"LineNum\" : 0,\n         \"ItemCode\"
        : \"X1-LTE\",\n         \"ItemDescription\" : \"DR-X1 LTE, Cell + GPS, BG96MC-128-SGNS\",\n
        \        \"Quantity\" : 4.0,\n         \"ShipDate\" : \"2022-02-18\",\n         \"Price\"
[...]
